

.labelstatsu{
    margin-left: 5px;
    padding-bottom: 10px;
    font-size: 19px;
}
 

.statusmale{
    font-size: 17px;

}


.selectwidht{
    width: 360px;
    font-size: 17px;
}

#sikiformka{
    margin-top: 10px;
}

.formone233{
    margin-top: 10px;
}

.formonegnefdre{
    margin-top: 10px;
}


#registertop{

    margin-top: 10px;

}
